:host {
  display: flex;
  flex-direction: row;
}

.lista-contatos {
  border-radius: 10px;
  border: 1px solid black;
  background-color: lightskyblue;
  min-width: 70vw;
  max-width: 30vw;
}

.formulario {
  align-content: center;
  margin-left: 10px;
  width: 30vw;
  background-color: lightskyblue;
  border-radius: 5px;
  border: 1px solid black;
  max-height: 100vh;
}
