$cor-fundo-cartao: rgb(182, 199, 255);
$cor-botao-contato: #44FF44;

.borda{
    margin: 10px;
    background-color: $cor-fundo-cartao;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;

    *{
        margin: 3px;
    }
}

.nome{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.botao-contato{
    padding: 5px;
    align-self: center;
    width: fit-content;
    color: black;
    background-color: $cor-botao-contato;
    border: 1px solid black;
    border-radius: 5000px;
    text-decoration: none;

    &:hover{
        filter: brightness(0.80);
    }
}