<div class="borda">
  <!-- Apresentação normal -->
  @if (!editando && !excluindo) {
    <p class="nome" title="{{ contato().nome }}">Contato: {{ contato().nome }}</p>
    <p class="telefone" title="{{ contato().telefone }}">Número: {{ contato().telefone }}</p>
    <a class="botao-contato" href="https://wa.me/{{ getTelefoneSomenteNumero() }}" target="_blank"
      >Enviar mensagem</a
    >

    <span class="modificacoes">
      <button class="botao-editar" (click)="alternarEdicao()">editar</button>
      <button class="botao-excluir" (click)="alternarExclusao()">excluir</button>
    </span>
  } @else if (editando) {
    <input type="text" [(ngModel)]="nomeEdit" />
    <input type="text" [(ngModel)]="telefoneEdit" />

    <span class="botoes-editando">
      <button (click)="alternarEdicao()">cancelar</button>
      <button (click)="confirmarEdicao()">confirmar</button>
    </span>
  } @else if (excluindo) {
    <h4>Tem certeza que deseja excluir {{ contato().nome }} dos contatos?</h4>
    <span class="botoes-excluindo">
      <button (click)="alternarExclusao()">cancelar</button>
      <button (click)="confirmarExclusao()">confirmar</button>
    </span>
  }
</div>
